<div class="container">
    <h1>Hire A Car</h1>
    <hr/>
    <div class="row">
     
      <div class="col-md-6 mx-auto my-4" *ngFor="let card of cards">
         

                <div class=" card card-main shadow-lg p-3 mb-5 h-100">
                    <div class=" card-top individual-color  h-100">
                        <h3>{{card.title}}</h3>
                        <img class="img-icon" [src]="card.img" alt="Card image cap"> 
                      
                    </div>
                    <div class="card-bottom  h-100">

                        <h3>Card Description</h3> 
                        {{card.description}} <br/>
                        <br/><br/>
                        <a routerLink=''>
                            <button type="button" class="btn btn-select">{{card.buttonText}}</button>
                        </a>
                    </div>
                    
                </div>
              </div>
            
          </div>
  </div>