
<article>
        <div class="welcome">
            <img height="35%" width="35%" src="../../../assets/img/logo.png" alt="">
            <h2>Your Preferred Local Travel Partner</h2>
        </div>
        <div>
            <div class="serviceItems">
                <ul ngbNav #nav="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                        <a ngbNavLink>Who We Are</a>
                        <ng-template ngbNavContent height="50%">
                            <img height="25%" width="25%" src="../../../assets/img/logo.png" alt="">
                            <p>
                                Add text
                            </p>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>What We Do</a>
                        <ng-template ngbNavContent>
                            <img height="25%" width="25%" src="../../../assets/img/logo.png" alt="">
                            <p>
                                Add Text
                            </p>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Our Mission</a>
                        <ng-template ngbNavContent>
                            <img height="25%" width="25%" src="../../../assets/img/logo.png" alt="">
                            <p>
                               Add Text
                            </p>
                        </ng-template>
                        </li>
                        <li ngbNavItem>
                        <a ngbNavLink>Our Vision</a>
                        <ng-template ngbNavContent>
                            <p>
                                Add Text
                            </p>
                        </ng-template>
                        </li>
                        <li ngbNavItem>
                        <a ngbNavLink>Our Values</a>
                        <ng-template ngbNavContent>
                            <p>
                                Add Text
                            </p>
                        </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>Contact Us</a>
                            <ng-template ngbNavContent>
                                <p>
                                    Add Text
                                </p>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
</article>