<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">
        Copyright &copy; @Timchist & Company 2021
      </div>
      <div class="col-lg-4 text-lg-start">
        <small>Powered by @Mutall Data Managers</small>
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="#!">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- <a class="btn btn-dark btn-social mx-2" href="#!"
          ><img src="../../../assets/img/twitter.png" alt="Twiter" class="fab"
        /></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"
          ><img
            src="../../../assets/img/whatsapp.png"
            alt="Whatsapp"
            class="fab"
        /></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"
          ><img src="../../../assets/img/insta.png" alt="Instagram" class="fab"
        /></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"
          ><img src="../../../assets/img/mail.png" alt="Mail_us" class="fab"
        /></a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3" href="#!"
          >Privacy Policy</a
        >
        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a> -->
      </div>
    </div>
  </div>
</footer>
