<footer id="pageFooter">
    <div class="footer">
        <span>
        <p>Powered by @Mutall Data Managers</p>
        <p>CopyRight @Timchist & Company 2020</p>
        </span>
        <span>
        <ul>
            <li>Find us:</li>
            <li><img src="../../../assets/img/facebook.png" alt="Facebook" />Facebook</li>
            <li><img src="../../../assets/img/twitter.png" alt="Twiter" />Twiter</li>
            <li><img src="../../../assets/img/whatsapp.png" alt="Whatsapp" />WhatsApp</li>
            <li><img src="../../../assets/img/insta.png" alt="Instagram" />Instagram</li>
            <li><img src="../../../assets/img/mail.png" alt="Mail_us" />Mail Us</li>
        </ul>
        </span>
    </div>
</footer>
