<div class="card">
  <div class="card-body">
    <div class="welcome">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
      
          <div class="item active">
            <img src="../../../assets/img/logo.png"  alt="Welcome">
            <div class="carousel-caption">
              <h3>Welcome to TimChist Adventures!</h3>
              <p class="mt-3" >
                A privately owned tourism business registered in Kenya in the year 2017 to make travel easy and tours memorable.
            </p>
              <p class mt-3> We offer planned tour experiences, as well as customized
                travel adventures by exposing and informing you about different travel activities
                and services being offered in different destinations around the country.
            </p>
            <p>Let's plan your next vacation now: </p> <button type="button" class="btn btn-outline-info"> View Destinations </button> 
            </div>
          </div>
      
          <div class="item">
            <img src="../../../assets/img/p5.jpg" alt="Our Services">
            <div class="carousel-caption">
              <h3>Our Services</h3>
              <p>Some of the services we offer include:</p>
              <ul>
                <li> Personalized Travel Experiences </li>
                <li> Events & Conference Halls </li>
                <li>  Adventures/Safari Tours </li>
                 <li> Book Flights </li>
                <li> Car Hires</li>
               
              </ul>

              <a href = "#our_services"><button type="button" class="btn btn-outline-info"> Read More </button> </a>
          </div>
          </div>
      
          <div class="item">
            <img src="../../../assets/img/p5.jpg" alt="Destination">
            <div class="carousel-caption">
              <h3>Choose a Destination</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
      
          <div class="item">
            <img src="../../../assets/img/p5.jpg" alt="Car Hire">
            <div class="carousel-caption">
              <h3>Hire a Car</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
      
          <div class="item">
            <img src="../../../assets/img/p5.jpg" alt="Accommodations">
            <div class="carousel-caption">
              <h3>Book Your Accommodation</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
      </div>
      
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>


  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="services" id="our_services">
      <h1 class = "justify-content-center d-flex"> Our Services </h1>
      <div class="row">
  
          <div class="col-md-4  ">
            <h3> Personalized Experiences </h3>
           
            <p>
              Kenya has a broad-range of destinations with different tour 
              experiences and activities. We know of quite the number and 
              want you to experience Kenya in your own terms, budget, and
              preference. Ours is to make touring and traveling around Kenya 
              easy for both individuals and businesses alike. Find yourself a 
              <button routerLink="destinations">Destinations</button> and proceed with planning your trip. 
          </p>
          </div>
  
        <div class="col-md-4  ">
          <h3> Events/Conferences </h3>
  
          <p>
            One of the growing businesses in Kenya today is events and 
            conferencing where business people, activists, and planners 
            meet not only in the main city of Nairobi but in other 
            destinations around the country. We provide events and 
            conferencing solutions, accommodations, transport and just
            being there incase you want to be show around and experience 
            your destination beyond the event or conference. 
            <button>View Upcoming Events</button> or <button>Plan Your Event</button>
        </p>
        </div>
  
        <div class="col-md-4">
          <h3> Adventures/Safaris </h3>
  
          <p>
            We have uniquely 
            experienced this country and catalogued our experiences so 
            that you can also get to experience this country and its 
            uniqueness. Visit the Mara and see the 
            wildebeest migrate to and from Kenya, let us take you to the coast 
            or to the lake and experiences the sandy beaches and cool 
            breeze, or visit the Kenya deserts and have a desert tour right in 
            your country. There is literally an experience in Kenya for every 
            person and we know and have planned a significant number for you 
            to experience. Visit our <button routerLink="destinations">Adventures Cataloge</button> and choose and experience you 
            may desire.
        </p>
        </div>
            
      </div>
    
      <div class="row row-content">
        <div class="col-md-4  ">
          <h3> Car Hire </h3>
  
  
          <p>
            We have uniquely 
            experienced this country and catalogued our experiences so 
            that you can also get to experience this country and its 
            uniqueness. Visit the Mara and see the 
            wildebeest migrate to and from Kenya, let us take you to the coast 
            or to the lake and experiences the sandy beaches and cool 
            breeze, or visit the Kenya deserts and have a desert tour right in 
            your country. There is literally an experience in Kenya for every 
            person and we know and have planned a significant number for you 
            to experience. Visit our <button routerLink="destinations">Adventures Cataloge</button> and choose and experience you 
            may desire.
        </p>
        </div>
        <div class="col-md-4">
          <h3> Book Flights </h3>
  
  
          <p>
            We have uniquely 
            experienced this country and catalogued our experiences so 
            that you can also get to experience this country and its 
            uniqueness. Visit the Mara and see the 
            wildebeest migrate to and from Kenya, let us take you to the coast 
            or to the lake and experiences the sandy beaches and cool 
            breeze, or visit the Kenya deserts and have a desert tour right in 
            your country. There is literally an experience in Kenya for every 
            person and we know and have planned a significant number for you 
            to experience. Visit our <button routerLink="destinations">Adventures Cataloge</button> and choose and experience you 
            may desire.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

