<div class="text-center">
  <h2 class="section-heading text-uppercase">{{ attName }} Services</h2>
  <h3 class="section-subheading text-muted">
    Lorem ipsum dolor sit amet consectetur.
  </h3>
</div>

<div class="row">
  <div class="text-center">
    <h6 class="section-heading">All Services</h6>
    <h3 class="section-subheading text-muted">
      Lorem ipsum dolor sit amet consectetur.
    </h3>
  </div>
  <div *ngFor="let service of services">
    <div class="col-lg-4 col-sm-6 mb-4">
      <!-- Portfolio items-->
      <div class="portfolio-item">
        <a class="portfolio-link">
          <div
            class="portfolio-hover"
            (click)="getServiceDetails(service.services, service.name)"
          >
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="..." />
        </a>
        <div class="portfolio-caption">
          <div class="portfolio-caption-heading">
            {{ service?.name }} Service
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Selected services details -->
<div class="row" *ngIf="isSelected">
  <div class="text-center">
    <h6 class="section-heading">{{ selectedService }} Services</h6>
    <h3 class="section-subheading text-muted">
      Lorem ipsum dolor sit amet consectetur.
    </h3>
  </div>
  <div class="row" *ngFor="let atservice of atservices">
    <div class="col mb-4">
      <!-- Portfolio items-->
      <div class="portfolio-item">
        <a class="portfolio-link">
          <div class="portfolio-hover" (click)="addService(atservice)">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="..." />
        </a>
      </div>
    </div>

    <div class="col">
      <div class="portfolio-caption">
        <div class="">{{ atservice.description }}</div>
        <div class="row align-items-start">
          <span class="text-info col">Rate:</span>
          <p class="col">{{ atservice.rate }}</p>
        </div>
        <div class="row align-items-start">
          <span class="text-info col">Destination:</span>
          <p class="col">{{ atservice.destination }}</p>
        </div>

        <div class="row align-items-start">
          <!-- <div class="col"> -->
          <span class="text-info col">Attraction:</span>
          <p class="col">{{ atservice.attraction }}</p>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
