.card-main{
    width: 100%;
    background: #FFFFFF;
    border: none;

}


.individual-color{
    background: rgba(108, 99, 255, 0.1);

}

.card-top{
    width: 100%;
    /* height: 25%; */
    border-radius: 60px 60px 0px 60px;
    text-align: center;
    border: none;

}

.card-bottom{
    width: 100%;
    /* height: 25%;
    padding: 5%; */
    border-radius: 0px 60px 60px 60px;
    border: none;
}


.btn-select{
    padding: 5% 10% 5% 10%;
    background: #F69322;
    color: white;
    position:relative;
    bottom: 2%;
    left: 35%;
}

.img-icon{
    padding: 5%;
    width: 80%;


}

@media screen and (max-width : 320px){
    .card-container{
        margin-left: 1%;
    }

}