.card-main{
    width: 100%;
    background: #FFFFFF;
    border: none;
    text-align: center;

}


.individual-color{
    background: rgba(108, 99, 255, 0.1);

}

.card-top{
    width: 100%;
    border-radius: 60px 60px 0px 60px;
    text-align: center;
    border: none;

}


.btn-select{
    padding: 2% 20% 2% 20%;
    background: #F69322;
    color: white;
}

.img-icon{
    padding: 5%;
    width: 80%;
}

.loader-class{
    padding-left: 30%;
}


@media screen and (min-width : 200px) and (max-width: 850){
    .card-main{
        width: 100%;
    }
    
    .loader-class{
        padding-left: 20%;
    }

    h1,h2{
        font-size: 0.3em;
    }

}